<div class="page-container">
        
    <div class="container">
        <div class="header">
            <%- include('printnav.ejs') %>
            <h2><%= currentUser.username %></h2>
            <a href="orders/new">New Order</a>
        </div>
        <div class="orders">
            <div class="current-orders">
                <h3>Current Orders</h3>
                <% if (orders.length > 0) { %>
                    <ul>
                        <li><strong>ORDER ID: </strong><%= orders[0]._id %></li>
                        <li><strong>ORDER FOR: </strong><%= orders[0].requestor_name %></li>
                        <li><strong>QTY: </strong><%= orders[0].quantity %></li>
                    </ul>
                <% } else { %>
                    <h4>No Current Orders</h4>
                <% } %>
               <div class="buttons">
                    <form action="/<%= orders._id %>?_method=DELETE" method="POST">
                        <input class="cancel" type="submit" value="Cancel Order"/>
                    </form>
               </div>

            </div>
            <div class="complete">
                <h3>Completed Orders</h3>
                <% if (orders.length > 0) { %>
                    <ul>
                        
                        <li><strong>ORDER ID: </strong><%= orders[0]._id %></li>
                        <li><strong>ORDER FOR: </strong><%= orders[0].requestor_name %></li>
                        <li><strong>QTY: </strong><%= orders[0].quantity %></li>
                    
                    </ul>
                <% } else { %>
                    <h4>No Current Orders</h4>
                <% } %>
                <div class="buttons">
                    <form action="/<%= orders._id %>?_method=DELETE" method="POST">
                        <input class="cancel" type="submit" value="Remove Order"/>
                    </form>
                </div>
            </div>
        </div>
         
        
    </div>
</div>